.resume {
    display: grid;
    justify-content: center;
    grid-template-columns: 300px;
    gap: 30px; 
    align-items: center;
}

#resume-img { 
    width: 330px;
    height: 500px;
}
.flip-card {
    background-color: transparent;
    justify-content: center;
    width: 330px;
    height: 500px;
    perspective: 1000px; 
}
.flip-card-inner {
    position: relative;
    width: 330px;
    height: 500px;
    text-align: center;
    transition: transform .9s;
    transform-origin: center;
    transform-style: preserve-3d;
    background-color: transparent;
}
.flip-card:hover .flip-card-inner {
    transform: rotateY(-180deg);
}

.flip-card-front {
    position: absolute;
    width: 330px;
    height: 500px;;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    background-color: transparent;
}

.flip-card-back {
    position: absolute;
    width: 330px;
    height: 500px;
    border-radius: 5%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    background-color: rosybrown;
    color: white;
    transform: rotateY(180deg);  
}


@media only screen and (min-width: 768px) {
    .resume {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        grid-template-columns: 350px 350px;
        grid-template-rows: 600px;
        gap: 60px; 
        align-items: center;
    }
    
   
}
