.nav {
    position: fixed;
    width: 100%; 
    display: grid;
    grid-template-columns: 50% 50%;
    top: 0;
    z-index: 9999;
    padding: 10px;
}

.nav-logo {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 7vmin;
    width: 70vmin;
    border: 0;
    display: inline-block;
    text-align: left;
}
.nav-items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-items li {
    list-style-type: none;
    display: inline-grid   
}

a {
    text-decoration: none;
}

nav.scrolled {
    background-color: darkgoldenrod;
  }

