.App {
  text-align: center;
  background-size: cover;

  
  
}

.container {
  position: relative;
  width: 100%;
  height: 3000px;
}

.image-container {
  width: 100%;
  height: 0;
  padding-top: 45.347%;
  position: sticky;
  top: 0;
  background-size: cover;
  /* background-image: url('https://i.imgur.com/zyf37kC.png'); */
}
