
.profile-photo {
    border-radius: 50%;
    border: 3px;
    border-color: white;
    border-style: solid;
    margin-bottom: 30px;
}

.about-me {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 350px;
    justify-content: center;
    gap: 15px;
    align-items: center;
    margin-top: 100px;
}

#aboutMeDescription {
    color: #FF458F;
    font-size: 20px;
}


@media only screen and (min-width: 768px) {
    .about-me  {
        display: grid;
        grid-template-rows: 600px;
        grid-template-columns: 500px 600px ;
        justify-content: center;
        gap: 10px;
        align-items: center;
        margin-left: -400px;
        
    }
  }
